
.img-fluid1{
    border-radius: 5%;
}

.row-justify-content-xl-center{
    margin-top: 50px;
    padding-left: 150px;
}
.mb-3{
    color:#90bac2
}

.mb-4{
    color:#90bac2;
    padding-top: 20px;
}
.about-us-page{
    background-color: #282c34; /* Assuming a dark background, change as necessary */
    color: #ffffff; /* Light text color for contrast */
    padding-left: 400px;
    padding-right: 400px;
}

.text-secondary-mb-0 {
    color: #b4c2c5; /* Light gray color */
}