
.view-meal-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.images-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.info-section {
  text-align: center; 
  margin-bottom: 20px; 
}

.back-button {
  text-align: center; 
}