.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(115, 201, 255, 0.985);
  border-radius: 20px; /* Make the layout rounded */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 550px; /* Match the width of the signup form */
  margin-left: 50px; /* Adjust margin as needed */
  margin-bottom: 140px; /* Adjust margin as needed */
  left: 75%;
}

.login-title, .login-form h2 {
  color: black;
  text-align: center;
  margin: 10px 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; /* Adjust input width to fill the container */
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 100px;
}

.input-group select {
  width: 100%; /* Adjust the width to fill the container */
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 100px; /* Adjust margin as needed */
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

button.login-button {
  width: 100%; /* Adjust button width to fill the container */
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(7, 175, 226);
  color: white;
  cursor: pointer;
}

button.login-button:hover {
  background-color: #0056b3;
}

.forgot-password, .divider, .signup-link {
  text-align: center;
  color: black;
  margin: 10px 0;
}

.forgot-password a, .signup-link a {
  color: black;
  text-decoration: none;
}

.signup-link a {
  font-weight: bold;
}
