body, html {
  margin: 0;
  padding: 0;

  /* change color here for all elements, delete this 
 */
 background: linear-gradient(to bottom right, #6B0F1A, #0C7B93); 
}

/* src/Authentication/App.css */
.App {
  font-family: 'Arial', sans-serif;
}

